In [1]:
import requests
import pandas as pd

In [2]:
url = "https://data.austintexas.gov/resource/x5p7-qyuv.json"

r = requests.get(url)

r.status_code

data = r.json()
data[:2]

[{'austin_housing_inventory_id': '251',
  'project_id': '5062',
  'project_name': 'Colorado Crossing - SF',
  'owner': 'Lennar Buffington',
  'developer': 'Lennar Buffington',
  'address': 'Undisclosed',
  'zip_code': '78744',
  'council_district': '2',
  'total_units': '1',
  'total_affordable_units': '1',
  'total_permanent_support': '0',
  'total_accessible_units': '0',
  'unit_type': 'Single Family',
  'housing_type': 'Ownership',
  'program': 'Developer Incentive',
  'status': '8. Affordability Period Expired',
  'affordability_start_date': '2008-07-30T00:00:00.000',
  'affordability_start_year': '2008',
  'affordability_expiration_date': '2009-07-30T00:00:00.000',
  'affordability_expiration_year': '2009',
  'affordability_period': '1',
  'fee_in_lieu_status': 'None',
  'calculated_fee_in_lieu': '0',
  'units_30_mfi': '0',
  'units_40_mfi': '0',
  'units_50_mfi': '0',
  'units_60_mfi': '0',
  'units_65_mfi': '0',
  'units_80_mfi': '1',
  'units_100_mfi': '0',
  'market_rate_units': '0',
  'rental_housing_development': 'No',
  'ownership_housing_development': 'No',
  'private_activity_bonds': 'No',
  'parntership_austin_housing_fin': 'No',
  'community_land_trust': 'No',
  'affordability_unlocked': 'No',
  'downtown_density_bonus': 'No',
  'down_payment_assistance': 'No',
  'east_riverside_corridor_partn': 'No',
  'ground_lease': 'No',
  'master_development_agreements': 'No',
  'municipal_utility_district': 'No',
  'micro_unit_density_bonus': 'No',
  'north_burnet_gateway_bonus': 'No',
  'planned_unit_development_agree': 'No',
  'planned_unit_development_bonus': 'No',
  'rainey_density_bonus': 'No',
  'smart_development': 'Yes',
  'smart_greenfield': 'No',
  'transit_oriented_development': 'No',
  'university_neighborhood_overla': 'No',
  'community_development_block_gr': '0',
  'vertical_mixed_use': 'No',
  'voluntary': 'No',
  'general_obligation_bond_2006': '0',
  'general_obligation_bond_2013': '0',
  'hud_home_grant': '0',
  'housing_trust_fund': '0',
  'cip_fund': '0',
  'city_amount': '0',
  'low_income_housing_tax_credit': 'N/A',
  'longitude': '-97.695808',
  'latitude': '30.197755',
  'location': {'latitude': '30.197755',
   'longitude': '-97.695808',
   'human_address': '{"address": "", "city": "", "state": "", "zip": ""}'}},
 {'austin_housing_inventory_id': '251',
  'project_id': '5034',
  'project_name': 'Colorado Crossing - SF',
  'owner': 'Lennar Buffington',
  'developer': 'Lennar Buffington',
  'address': 'Undisclosed',
  'zip_code': '78744',
  'council_district': '2',
  'total_units': '1',
  'total_affordable_units': '1',
  'total_permanent_support': '0',
  'total_accessible_units': '0',
  'unit_type': 'Single Family',
  'housing_type': 'Ownership',
  'program': 'Developer Incentive',
  'status': '8. Affordability Period Expired',
  'affordability_start_date': '2007-06-21T00:00:00.000',
  'affordability_start_year': '2007',
  'affordability_expiration_date': '2008-06-21T00:00:00.000',
  'affordability_expiration_year': '2008',
  'affordability_period': '1',
  'fee_in_lieu_status': 'None',
  'calculated_fee_in_lieu': '0',
  'units_30_mfi': '0',
  'units_40_mfi': '0',
  'units_50_mfi': '0',
  'units_60_mfi': '0',
  'units_65_mfi': '0',
  'units_80_mfi': '1',
  'units_100_mfi': '0',
  'market_rate_units': '0',
  'rental_housing_development': 'No',
  'ownership_housing_development': 'No',
  'private_activity_bonds': 'No',
  'parntership_austin_housing_fin': 'No',
  'community_land_trust': 'No',
  'affordability_unlocked': 'No',
  'downtown_density_bonus': 'No',
  'down_payment_assistance': 'No',
  'east_riverside_corridor_partn': 'No',
  'ground_lease': 'No',
  'master_development_agreements': 'No',
  'municipal_utility_district': 'No',
  'micro_unit_density_bonus': 'No',
  'north_burnet_gateway_bonus': 'No',
  'planned_unit_development_agree': 'No',
  'planned_unit_development_bonus': 'No',
  'rainey_density_bonus': 'No',
  'smart_development': 'Yes',
  'smart_greenfield': 'No',
  'transit_oriented_development': 'No',
  'university_neighborhood_overla': 'No',
  'community_development_block_gr': '0',
  'vertical_mixed_use': 'No',
  'voluntary': 'No',
  'general_obligation_bond_2006': '0',
  'general_obligation_bond_2013': '0',
  'hud_home_grant': '0',
  'housing_trust_fund': '0',
  'cip_fund': '0',
  'city_amount': '0',
  'low_income_housing_tax_credit': 'N/A',
  'longitude': '-97.695495',
  'latitude': '30.19616',
  'location': {'latitude': '30.19616',
   'longitude': '-97.695495',
   'human_address': '{"address": "", "city": "", "state": "", "zip": ""}'}}]

In [3]:
df_original = pd.DataFrame(data)

df_original.head()

,austin_housing_inventory_id,project_id,project_name,owner,developer,address,zip_code,council_district,total_units,total_affordable_units,...,general_obligation_bond_2013,hud_home_grant,housing_trust_fund,cip_fund,city_amount,low_income_housing_tax_credit,longitude,latitude,location,date_fee_in_lieu_received
0,251,5062,Colorado Crossing - SF,Lennar Buffington,Lennar Buffington,Undisclosed,78744,2,1,1,...,0,0,0,0,0,N/A,-97.695808,30.197755,"{'latitude': '30.197755', 'longitude': '-97.69...",NaN
1,251,5034,Colorado Crossing - SF,Lennar Buffington,Lennar Buffington,Undisclosed,78744,2,1,1,...,0,0,0,0,0,N/A,-97.695495,30.19616,"{'latitude': '30.19616', 'longitude': '-97.695...",NaN
2,711,5675,The Chelsea,"WGC San Gabriel, LLC","WGC San Gabriel, LLC",1000-1006 W 25th Street,78705,9,108,11,...,0,0,0,0,0,N/A,-97.74795,30.28971,"{'latitude': '30.28971', 'longitude': '-97.747...",NaN
3,249,3674,Austin Neighborhood Alliance for Habitat - SF,Undisclosed,Austin Neighborhood Alliance for Habitat,Undisclosed,78741,3,1,1,...,0,0,0,0,0,N/A,-97.6915154113791,30.2295785970409,"{'latitude': '30.2295785970409', 'longitude': ...",NaN
4,347,5339,David Weekley - SF - Section 9 (RMMA MDA),"Catellus Austin, LLC",Catellus Austin LLC,Undisclosed,78723,9,1,1,...,0,0,0,0,0,N/A,-97.699051,30.295161,"{'latitude': '30.295161', 'longitude': '-97.69...",NaN

In [19]:
# Get only the data I want
# project_id is unqiue and there are no NULLs, so this is the unique identifier for the dataset
# total_units and total_affordable_units had two rows with NULLs, so dropped them, but do I need these columns?

df = df_original[["project_id", "project_name", "unit_type", "housing_type", "program", "affordability_start_year", "affordability_expiration_year", "longitude", "latitude", "total_units", "total_affordable_units"]]

df.head()
df.shape

(1000, 11)

In [20]:
# Verify that project_id is unqiue

pid_unique = df["project_id"].unique()
pid_unique.shape

(1000,)

In [21]:
# Drop rows missing data

df = df.dropna(how = "any")

In [ ]:
df.shape

In [26]:
df.head(2)
# df["affordability_start_year"]

,project_id,project_name,unit_type,housing_type,program,affordability_start_year,affordability_expiration_year,longitude,latitude,total_units,total_affordable_units
0,5339,David Weekley - SF - Section 9 (RMMA MDA),Single Family,Ownership,Developer Incentive,2017,2018,-97.699051,30.295161,1,1
1,4075,Standard Pacific - SF - Section 7 (RMMA MDA),Single Family,Ownership,Developer Incentive,2016,2017,-97.69680023,30.29389954,1,1

In [27]:
# Date data clean up

# Convert the dates to be date datatype
df["affordability_start_year"] = pd.to_numeric(df["affordability_start_year"])
# print(df["affordability_start_year"])
df["affordability_expiration_year"] = pd.to_numeric(df["affordability_expiration_year"])

# # Get only the dates 2015-2019
df = df[df["affordability_start_year"] >= 2015]
df = df.reset_index(drop=True)
df.head()
# df.shape

,project_id,project_name,unit_type,housing_type,program,affordability_start_year,affordability_expiration_year,longitude,latitude,total_units,total_affordable_units
0,5339,David Weekley - SF - Section 9 (RMMA MDA),Single Family,Ownership,Developer Incentive,2017,2018,-97.699051,30.295161,1,1
1,4075,Standard Pacific - SF - Section 7 (RMMA MDA),Single Family,Ownership,Developer Incentive,2016,2017,-97.69680023,30.29389954,1,1
2,5351,David Weekley - SF - Section 9 (RMMA MDA),Single Family,Ownership,Developer Incentive,2017,2018,-97.698977,30.299948,1,1
3,4404,The Park at Estancia,Multifamily,Rental,Developer Incentive,2019,2059,-97.804756,30.123941,320,32
4,3394,4810 West Wind Trail,FourPlex,Rental,NHCD Program,2015,2114,-97.8029965848418,30.2279505045048,4,2

In [ ]:
# Data check on year

df["affordability_start_year"].unique()
df["affordability_expiration_year"].value_counts()

In [41]:
# Data check on lat and long

df["longitude"].dtype
df["latitude"].dtype

dtype('O')

In [47]:
# Data clean up for lat and long

df["longitude"] = pd.to_numeric(df["longitude"])
df["latitude"] = pd.to_numeric(df["latitude"])

df["longitude"].dtype
df["latitude"].dtype

dtype('float64')

In [45]:
# Data check on other numbers

df["total_units"].dtype
df["total_affordable_units"].dtype

dtype('O')

In [49]:
# Data clean up for lat and long

df["total_units"] = pd.to_numeric(df["total_units"])
df["total_affordable_units"] = pd.to_numeric(df["total_affordable_units"])

df["total_units"].dtype
df["total_affordable_units"].dtype

dtype('int64')

In [50]:
df.head()

,project_id,project_name,unit_type,housing_type,program,affordability_start_year,affordability_expiration_year,longitude,latitude,total_units,total_affordable_units
94,4030,David Weekley - SF - Section 7 (RMMA MDA),Single Family,Ownership,Developer Incentive,2015,2016,-97.695999,30.292700,1,1
61,4950,Bradshaw Crossing - SF,Single Family,Ownership,Developer Incentive,2015,2016,-97.766795,30.136022,1,1
54,4037,David Weekley - SF - Section 7 (RMMA MDA),Single Family,Ownership,Developer Incentive,2015,2016,-97.695297,30.292500,1,1
95,4039,David Weekley - SF - Section 7 (RMMA MDA),Single Family,Ownership,Developer Incentive,2015,2016,-97.696999,30.292200,1,1
48,4953,Bradshaw Crossing - SF,Single Family,Ownership,Developer Incentive,2015,2016,-97.766733,30.136508,1,1